@font-face {
	font-family: 'Kondolar Thai';
	src: url(fonts/KondolarThai-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Kondolar Thai';
	font-weight: 900;
	src: url(fonts/KondolarThai-Black.otf) format('opentype');
}
@font-face {
	font-family: 'Anuphan';
	src: url(fonts/Anuphan-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Anuphan';
	font-weight: 600;
	src: url(fonts/Anuphan-Bold.otf) format('opentype');
}
